@import "./functions.scss";
@mixin font_face(
	$file_name,
	$font_name: $file_name,
	$path: $font_path,
	$weight: normal,
	$style: normal
) {
	@font-face {
		font-family: quote($font_name);
		src: url($path + $file-name + ".woff2") format("woff2"),
			url($path + $file-name + ".woff") format("woff");
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin buttonCreate($color: green, $paddingLR, $hoverColor: #005ddf) {
	padding: to-rem(16) to-rem($paddingLR);
	font-size: 18px;
	border: none;
	border-radius: 40px;
	text-align: center;
	position: relative;
	display: inline-block;
	color: #f3f5f7;
	background-color: $color;
	i {
		font-size: 18px;
	}
	&:active,
	&.active {
		background: #0054ca;
	}
	&:hover {
		background-color: $hoverColor;
		cursor: pointer;
	}
}
