@import "./functions.scss";
@mixin font_face(
	$file_name,
	$font_name: $file_name,
	$weight: normal,
	$style: normal
) {
	@font-face {
		font-family: quote($font_name);
		src: url("../fonts/" + $file-name + ".eot");
		src: url("../fonts/" + $file-name + ".woff2") format("woff2"),
			url("../fonts/" + $file-name + ".ttf") format("truetype"),
			url("../fonts/" + $file-name + ".svg" + "#" + $file-name) format("svg"),
			url("../fonts/" + $file-name + ".woff") format("woff"),
			url("../fonts/" + $file-name + ".woff") format("woff");

		font-weight: $weight;
		font-style: $style;
	}
}
@mixin makeCircle($bg, $w: 80px, $h: 80px) {
	border-radius: 50%;
	width: $w;
	height: $h;
	background: $bg;
	// line-height: 4;
}

@mixin createButton($bg: green, $paddingLR, $hoverColor: #005ddf) {
	padding: to-rem(16) to-rem($paddingLR);
	font-size: 18px;
	border: none;
	border-radius: 40px;
	text-align: center;
	position: relative;
	display: inline-block;
	color: #0065f2;
	font-weight: 600;
	font-size: 16px;
	background-color: $bg;
	transition: all .3s ease-in-out;
	i {
		font-size: 18px;
	}
	&:active,
	&.active {
		background: #0054ca;
	}
	&:hover {
		background-color: $hoverColor;
		cursor: pointer;
	}
}
