@import "../mixins.scss";
@import "../variables.scss";
@import "../fonts.scss";
@import "../functions.scss";

header {
	display: flex;
	align-items: center;
	justify-content: center;
	// padding-top: $menuHeight;
}
.header {
	margin-bottom: 200px;
	z-index: 10000;
	width: to-rem(750);
	text-align: center;
	.tablet-btn {
		@include createButton(#0065f2, 32, #005ddf);
		color: white;
		display: none;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
		svg {
			margin-left: 17px;
			path {
				fill: white;
			}
		}
		@media (max-width: 768px) {
			display: flex;
		}
	}
	&__title {
		font-size: to-rem(62);
		font-weight: 700;
		line-height: 122%;
		margin-bottom: to-rem(28);
		margin-top: to-rem(80);
	}
	&__subtitle {
		// font-size: to-rem(28);
		justify-content: center;
		display: flex;
		color: #9e9e9e;
		.content {
			display: inline-block;
			margin: 0;
			font-size: 28px;
		}
		strong {
			color: black;
		}
	}
	&__button {
		@include createButton(#f3f5f7, 32, #e3e9ee);
		margin-top: to-rem(28);
		color: #000000;
		transform: translateY(24px);
		svg {
			margin-left: to-rem(17);
			transform: translateY(2px);
		}
	}
	&__img {
		position: absolute;
	}
	.ship {
		top: 49%;
		right: 0%;
	}
	.rest {
		left: 7%;
		top: 56%;
	}
	.empty {
		left: 14%;
		bottom: to-rem(-440);
	}
	.mockup {
		left: 23%;
		top: 112%;
		z-index: 10;
	}
	.agree {
		bottom: -7%;
		left: 43%;
	}
	.card {
		left: 26%;
		bottom: -116%;
	}
}
