@import "../mixins.scss";
@import "../variables.scss";
@import "../fonts.scss";
@import "../functions.scss";

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $menuHeight;
	// position: fixed;
	// z-index: 99999999;
	// left: 0;
	// right: 0;
	&__logo {
		margin-left: 38px;
		margin-top: 2px;
	}
	&__list {
		list-style-type: none;
		font-size: to-rem(18);
		font-weight: 500;
		display: flex;
		width: 380px;
		justify-content: space-between;
		margin-left: 45px;
	}
	&__item {
	}
	&__link {
		text-decoration: none;
		font-size: to-rem(18);
		color: $menuColor;
		font-weight: 500;
	}
	&__button {
		@include buttonCreate($navButtonColor, 40);
		margin-right: 43px;
		color: #f3f5f7;
	}
}
